# Temporary files
tmp/
cache/
logs/

# Conda environments
env/
conda_env/

# Outputs
results/
outputs/
db/
phytozome_formatted/
phytozome_inputs/
*_psams_output/

# Large bioinformatics files
*.bam
*.sam
*.fastq
*.fastq.gz
*.tab
*.log
*.conf

# Python
__pycache__/
*.pyc
